
<header class="my-container">
    <div class="header-div disp-flex just-sb align-c bgc-white">
        <div class="logo">
            <a routerLink="home" class="logo-a">
                <img src="../../../assets/images/logo/logo.svg" alt="logo" class="logo-img">
            </a>
        </div>
        <div class="nav-div text-trans-u">
            <nav class="nav">
                <ul class="nav-ul disp-flex">
                    <a routerLink="home" routerLinkActive="active" class="nav-a">
                        <li class="nav-li">home</li>
                    </a>
                    <a routerLink="news" routerLinkActive="active" class="nav-a">
                        <li class="nav-li">news</li>
                    </a>
                    <a routerLink="about" routerLinkActive="active" class="nav-a">
                        <li class="nav-li">about</li>
                    </a>
                    <a routerLink="contact" routerLinkActive="active" class="nav-a">
                        <li class="nav-li">contact</li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
</header>