<!-- <section id="news" class="news-section pos-relative">
    <div class="my-container">
        <div class="card-box-parrent disp-flex just-sb text-trans-u">
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-1.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">typography lab</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-2.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">online marketing</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-3.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">c# coding</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-4.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">interface design</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-1.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">typography lab</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-2.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">online marketing</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-3.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">c# coding</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../../../assets/images/card-section/img-4.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">interface design</h2>
            </article>
        </div>
    </div>
    <button id="loadMore" class="text-trans-u pos-absolute wid-100 cw">load more</button>
</section> -->