<section class="banner-section">
    <div class="my-container">
        <div class="banner-box pos-relative">
            <img src="../assets/images/banner/banner.jpg" alt="banner" class="banner-img wid-100">
            <div class="banner-text-left pos-absolute">
                <ul class="text-trans-u cw">
                    <li>things aren't always</li>
                    <li>#000000</li>
                    <li>or</li>
                    <li>#ffffff</li>
                </ul>
            </div>
            <div class="banner-text-right pos-absolute">
                <img class="disp-block wid-100" src="../assets/images/banner/baanner-logo.svg" alt="HTML logo">
            </div>
        </div>
    </div>
</section>
<section class="video-section">
    <div class="my-container">
        <div class="title disp-flex cw">
            <a class="video-section-link" href="#">
                <p class="text-u">Videos</p>
            </a>
            <a class="video-section-link" href="video.html">
                <p class="">view all videos</p>
            </a>

        </div>
        <div class="textbox-parrent disp-flex just-sb align-c text-bold">
            <div class="text-box wid-100 bgc-white disp-flex just-c align-c">
                <iframe max-width="560" width="100%" height="100%" src="https://www.youtube.com/embed/JISFx18J7nc"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="text-box wid-100 bgc-white disp-flex just-c align-c">
                <iframe max-width="560" width="100%" height="100%" src="https://www.youtube.com/embed/JISFx18J7nc"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section class="cards-section">
    <div class="my-container">
        <div class="title disp-flex cards-title">
            <a class="video-section-link" href="#">
                <p class="text-u">news</p>
            </a>
            <a class="video-section-link" href="video.html">
                <p class="">view all news</p>
            </a>
        </div>
        <div class="card-box-parrent disp-flex just-sb text-trans-u">
            <article class="card-box wid-100">
                <img src="../assets/images/card-section/img-1.jpg" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">typography lab</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../assets/images/card-section/img-2.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">online marketing</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../assets/images/card-section/img-3.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">c# coding</h2>
            </article>
            <article class="card-box wid-100">
                <img src="../assets/images/card-section/img-4.jpg" alt="card image" class="card-box-img wid-100 disp-block">
                <h2 class="card-box-title">interface design</h2>
            </article>
        </div>
    </div>
</section>
<section class="featured-section">
    <div class="my-container">
        <div class="title disp-flex cards-title cb">
            <a class="video-section-link" href="#">
                <p class="text-u">featured</p>
            </a>
            <a class="video-section-link" href="video.html">
                <p class="">view all featured media</p>
            </a>
        </div>
        <div class="featured-section-parrent-div disp-flex just-sb">
            <div class="featured-div-box wid-100 pos-relative">
                <h2 class="featured-box-title text-trans-u">responsive web design</h2>
                <div class="featured-div-box-child disp-flex">
                    <img src="../assets/images/featured-section/responsive.png" alt="responsive">
                    <p>approach that suggests that design and development should respond to the user's behavior and
                        environment based on screen size, platform and orientation.</p>
                </div>
                <button id="leftBnt" class="pos-absolute read-more-btn text-trans-c">read more</button>
            </div>
            <div class="featured-div-box wid-100 pos-relative">
                <h2 class="featured-box-title text-trans-u">app development</h2>
                <div class="featured-div-box-child disp-flex">
                    <img src="../assets/images/featured-section/app-development.png" alt="app design">
                    <p>Mobile application development is the process of making or creating a mobile application to run
                        on various mobile platforms. A mobile platform is a mobile operating system.</p>
                </div>
                <button id="rightBtn" class="pos-absolute read-more-btn text-trans-c">read more</button>
            </div>
        </div>
    </div>
</section>